@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p>
    Développé par :
    <a href="https://github.com/Elyex03" target="_blank" class="fw-bold text-decoration-none">Elyex03</a>
</p>
